<div class="card" #host *ngIf="task">
    <div 
        #titleRef
        class="title"
        (click)="editMode = true"
    >
        <span 
            *ngIf="!editMode"
            [class.highlited]="highlited"
        >
            {{ task.title }}
        </span>
        <input 
            *ngIf="editMode" 
            type="text"
            [value]="task.title"
            autofocus
        >
        <button 
            *ngIf="editMode" 
            (click)="save()"
        >
            Save
        </button>
        <ng-content></ng-content>
    </div>
    <table>
        <tr>
            <td>Category</td>
            <td>{{ task.category }}</td>
        </tr>
        <tr>
            <td>Due Date</td>
            <td>{{ task.dueDate | date:'shortDate' }}</td>
        </tr>
        <tr>
            <td>Estimate</td>
            <td>{{ task.estimate }}</td>
        </tr>
        <tr>
            <td>Importance</td>
            <td>
                <div 
                    [ngClass]="{
                        badge: true,
                        low: task.importance === 0,
                        medium: task.importance === 1,
                        high: task.importance === 2
                    }"
                    (change)="changePriority($event)"
                >
                    {{ importance[task.importance] | titlecase }}
                </div>
            </td>
        </tr>
    </table>
</div>
