<div class="card" #host *ngIf="!editMode">
    <div 
        #titleRef
        class="title"
        (click)="editMode = true"
    >
        <div 
            [innerHtml]="task.title | highlighter:keyword"
        >
        </div>
    </div>
    <table>
        <tr>
            <td>Category</td>
            <td (click)="editMode = true">{{ (task.category | titlecase) || 'None' }}</td>
        </tr>
        <tr>
            <td>Due Date</td>
            <td (click)="editMode = true">{{ task.dueDate ? (task.dueDate | date:'shortDate') : 'None' }}</td>
        </tr>
        <tr>
            <td>Estimate</td>
            <td (click)="editMode = true">{{ task.estimatedTime }} {{ task.estimationUnit || 'None'}}</td>
        </tr>
        <tr>
            <td>Importance</td>
            <td>
                <div 
                (click)="editMode = true"
                    class="badge"
                    [ngClass]="{
                        low: task.importance === 0,
                        medium: task.importance === 1,
                        high: task.importance === 2
                    }"
                >
                    {{ importance[task.importance] | titlecase }}
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="card shadowed" #addCardRef *ngIf="editMode">
    <form [formGroup]="addForm">
        <textarea 
            #textareaRef
            class="title"
            placeholder="Task title"
            formControlName="title"
            autofocus
            (input)="resize($event)"
            (focus)="resize($event)"
        ></textarea>
        <table>
            <tr>
                <td>Category</td>
                <td>
                    <input 
                        type="text"
                        placeholder="None"
                        formControlName="category"
                    >
                </td>
            </tr>
            <tr>
                <td>Due Date</td>
                <td>
                    <input 
                        #dateRef
                        (focus)="dateRef.type = 'date'"
                        (blur)="dateRef.value.length === 0 ? dateRef.type = 'text' : null"
                        [type]="task && task.dueDate ? 'date' : 'text'"
                        placeholder="None"
                        formControlName="dueDate"
                    >
                </td>
            </tr>
            <tr>
                <td>Estimate</td>
                <td>
                    <input 
                        type="number"
                        class="borderless"
                        style="width: 2rem; padding: 0;"
                        formControlName="estimatedTime"
                    >
                    <input 
                        type="text" 
                        style="display: inline; width: 60%;"
                        class="borderless"
                        placeholder="Unit"
                        formControlName="estimationUnit"
                    >
                </td>
            </tr>
            <tr>
                <td>Importance</td>
                <td>
                    <select 
                        id="importance" 
                        formControlName="importance"
                        (blur)="changeTask()"
                    >
                        <option 
                            *ngFor="let option of importanceKeys(); let i = index" 
                            [value]="i"
                        >
                            {{ option | titlecase }}
                        </option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>