.title {
    color: #212529;
    font-family: "Helvetice-Neue-medium";
    font-size: 16px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: text;
}

input {
    @extend .title;
    margin-bottom: 0px;
    width: 100%;
    border: none;

    &:focus {
        outline: none;
    }
}

td {
    padding-bottom: 10px;
    font-size: 14px;
}

td:nth-child(odd) {
    padding-right: 50px;
    color: #6C757D;
    font-family: "Helvetice-Neue-thin";
}

td:nth-child(even) {
    font-family: "Helvetice-Neue-light";
}

.badge {
    text-align: center;
    border-radius: 4px;
    border: none;
    font-size: 13px;
    padding: 7px;
    font-family: "Helvetice-Neue-light";
    color: white;

    &.high {
        background-color: #DC3545;
    }
    
    &.medium {
        background-color: #FE913E;
    }
    
    &.low {
        background-color: #39AC95;
    }
}

.highlited {
    background-color: #fedb3e;
}

button {
    border-radius: 6px;
    width: max-content;
    margin-top: 0;
    padding: 5px 7px;
}