:host {
    margin-top: 20px;
}

.error {
    color: #FF5757;

    &.light {
        color: #eed6fd;
    }
}

.border-error {
    border: 1px solid #FF5757;
    
    &.light {
        border: 1px solid #eed6fd;
    }
}

small {
    font-family: "Helvetice-Neue-light";
    margin-top: 5px;
    display: block;
}

.number {
    display: inline-block;
    width: 30%;
    margin-right: 5px;
}