<div [class]="class" [class.number]="type === 'number'">
    <label [for]="label" *ngIf="label.length > 0">
        {{ label | titlecase }}
        <span 
            class="error"
            [class.light]="light"
        >*</span>
    </label>
    <input 
        class="input"
        [class.border-error]="control.touched && control.invalid"
        [class.light]="light"
        [class.max-content]="maxContent"
        [type]="type"
        [id]="label"
        [placeholder]="placeholder"
        [min]="minDate"
        [ngModel]="value | maxlength:max:type" 
        (ngModelChange)="onChange($event)"
    >
    <small class="error" [class.light]="light" *ngIf="control.touched && control.invalid && type !== 'number'">
        <ng-container *ngIf="control.hasError('required') else minRef">
            * {{ (label | titlecase) || 'This filed' }} is required.
        </ng-container>
        <ng-template #minRef>
            <ng-container *ngIf="type === 'string'">
                * Type at least {{ min }} characters.
            </ng-container>
            <ng-container *ngIf="type === 'email'">
                * Please enter a valid email.
            </ng-container>
        </ng-template>
    </small>
</div>