<div class="container">
    <div class="logo">
        <img src="assets/images/Logo.png" alt="logo" height="250">
        <div class="persons">
            <img src="assets/images/Woman.svg" alt="" height="300">
            <img src="assets/images/Man.svg" alt="" height="300">
        </div>
    </div>
    <div class="login">
        <div class="form">
            <h1>Time to work!</h1>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <fieldset>
                    <div *ngIf="errorMessage" class="error-message">
                        Invalid email or password.
                    </div>
                    <ng-container *ngFor="let control of loginForm.controls | keyvalue">
                        <label [for]="control.key">{{ control.key | titlecase }}</label>
                        <input 
                            class="input" 
                            [id]="control.key" 
                            [type]="control.key" 
                            [formControlName]="control.key"
                        >
                    </ng-container>
                    <button 
                        class="btn" 
                        type="submit" 
                        [disabled]="loginForm.invalid"
                    >
                    SIGN IN
                    </button>
                </fieldset>
            </form>
        </div>
        
    </div>
</div>