<div class="container">
    <img src="assets/images/Logo.png" alt="" height="45">
    <div class="header-right">
        <div 
            #searchBoxRef
            class="search-box"
            tabindex="0"
            (focus)="searchInputRef.focus()"
            (mouseenter)="searchBoxRef.classList.add('visible')"
            (mouseleave)="searchKey.length === 0 ? searchBoxRef.classList.remove('visible') : null"
        >
            <input 
                #searchInputRef 
                type="text" 
                placeholder="What are you looking for?" 
                [(ngModel)]="searchKey"
            >
            <img src="assets/images/Search.svg" alt="" class="svg">
        </div>
        <span 
            tooltip="Add item"
            class="svg" 
            style="position: relative;" 
            (click)="fill = true"
        >
            <img src="assets/images/Circle.svg" alt="" class="circle">
            <img src="assets/images/Add.svg" alt="" class="plus">
        </span>
        
        <span 
            class="svg" 
            style="position: relative; height: max-content;" 
        >
            <img 
                src="assets/images/Bitmap.png" 
                alt="" 
                class="avatar" 
                (click)="overlay = !overlay"
            >
            <div 
                *ngIf="overlay"
                #overlayRef 
                class="overlay"
            >
                <img src="assets/images/Bitmap.png" class="avatar" alt="">
                <div>
                    <div class="email">
                        {{ email }}
                    </div>
                    <div class="logout" (click)="logout()">
                        Log Out
                        <img src="assets/images/Logout.svg" alt="">
                    </div>
                </div>
            </div> 
        </span>
        
    </div>
</div> 
<div 
    #quoteRef
    class="container quote" 
    (mouseover)="removeIconRef.style.display = 'block'"
>
    <q>Anything that can go wrong, will go wrong!</q>
    <img 
        #removeIconRef 
        src="assets/images/RemoveQuote.svg" 
        alt="" 
        height="15"
        (click)="quoteRef.style.display = 'none'"
    >
</div>


<div class="container content">
    <div class="grid">
        <div class="card action">
            <img src="assets/images/ToDoIcon.svg" alt="">
            <h2>To Do</h2>
        </div>
        <div class="card action">
            <img src="assets/images/DoingIcon.svg" alt="">
            <h2>Doing</h2>
        </div>
        <div class="card action">
            <img src="assets/images/DoneIcon.svg" alt="">
            <h2>Done</h2>
        </div>
        <div class="action"
            *ngIf="quoteRef.style.display === 'none'"
            style="display: inline-flex; justify-content: flex-end; width: 100%;"
            (click)="quoteRef.style.display = 'flex'"
        >
            <img src="assets/images/ShowQuoteIcon.svg" alt="" height="20" style="cursor: pointer;">
        </div>
    </div>
    
    <div *ngIf="tasksCount === 0" class="feedback">
        Your list is empty! Try adding new Tasks and make sure the server is running.
    </div>
    <div class="grid">
        <div 
            class="list"
            #toDosRef="cdkDropList"
            cdkDropList 
            (cdkDropListDropped)="drop($event, 0)"
            [cdkDropListData]="toDos"
            [cdkDropListConnectedTo]="[doingsRef, donesRef]"
        >
            <app-card 
                *ngIf="fill" 
                [add]="true" 
                (onItemChanged)="addTask($event)" 
                [editMode]="fill"
            >
            </app-card>
            <ng-container *ngFor="let task of toDos">
                <app-card 
                    *ngIf="focusedTask !== task"
                    cdkDrag
                    [task]="task" 
                    (onItemChanged)="editTask($event, task.status)" 
                    [keyword]="searchKey"
                    (onFocus)="focusedTask = task"
                ></app-card>
                <app-card 
                    *ngIf="focusedTask === task"
                    cdkDrag
                    [editMode]="true"
                    [task]="task" 
                    (onItemChanged)="editTask($event, task.status)" 
                    [keyword]="searchKey"
                ></app-card>
            </ng-container>
            
        </div>
        <div  
            class="list"
            #doingsRef="cdkDropList"
            cdkDropList 
            (cdkDropListDropped)="drop($event, 1)"
            [cdkDropListData]="doings"
            [cdkDropListConnectedTo]="[toDosRef, donesRef]"
        >
        <ng-container *ngFor="let task of doings">
            <app-card 
                *ngIf="focusedTask !== task"
                cdkDrag
                [task]="task" 
                (onItemChanged)="editTask($event, task.status)" 
                [keyword]="searchKey"
                (onFocus)="focusedTask = task"
            ></app-card>
            <app-card 
                *ngIf="focusedTask === task"
                cdkDrag
                [editMode]="true"
                [task]="task" 
                (onItemChanged)="editTask($event, task.status)" 
                [keyword]="searchKey"
            ></app-card>
        </ng-container>
        </div>
        <div 
            class="list"
            #donesRef="cdkDropList"
            cdkDropList 
            (cdkDropListDropped)="drop($event, 2)"
            [cdkDropListData]="dones"
            [cdkDropListConnectedTo]="[toDosRef, doingsRef]"
        >
            <app-card 
                *ngFor="let task of dones"
                cdkDrag
                (onItemChanged)="editTask($event, task.status)"
                [keyword]="searchKey"
                [task]="task" 
            ></app-card>
        </div>
        <div></div>
    </div>
</div>
