<div class="container">
    <img src="assets/images/Logo.png" alt="" height="45">
    <div class="header-right">
        <div 
            #searchBoxRef
            class="search-box"
            tabindex="0"
            (focus)="searchInputRef.focus()"
            (mouseenter)="searchBoxRef.classList.add('visible')"
            (mouseleave)="searchKey.length === 0 ? searchBoxRef.classList.remove('visible') : null"
        >
            <input 
                #searchInputRef 
                type="text" 
                placeholder="What are you looking for?" 
                [(ngModel)]="searchKey"
            >
            <img src="assets/images/Search.svg" alt="" class="svg">
        </div>
        <span 
            tooltip="Add item"
            class="svg" 
            style="position: relative;" 
            (click)="fill = true;"
        >
            <img src="assets/images/Circle.svg" alt="" class="circle">
            <img src="assets/images/Add.svg" alt="" class="plus">
        </span>
        
        <span 
            class="svg" 
            style="position: relative; height: max-content;" 
        >
            <img 
                src="assets/images/Bitmap.png" 
                alt="" 
                class="avatar" 
                (click)="overlay = !overlay"
            >
            <div 
                *ngIf="overlay"
                #overlayRef 
                class="overlay"
            >
                <img src="assets/images/Bitmap.png" class="avatar" alt="">
                <div>
                    <div class="email">
                        {{ email }}
                    </div>
                    <div class="logout" (click)="logout()">
                        Log Out
                        <img src="assets/images/Logout.svg" alt="">
                    </div>
                </div>
            </div> 
        </span>
        
    </div>
</div> 
<div 
    *ngIf="showQuote"
    #quoteRef
    class="container quote" 
    (mouseover)="removeIconRef.style.display = 'block'"
>
    <q>Anything that can go wrong, will go wrong!</q>
    <img 
        #removeIconRef 
        src="assets/images/RemoveQuote.svg" 
        alt="" 
        height="15"
        (click)="showQuote = false"
    >
</div>
<div class="container content">
    <div class="grid">
        <div class="card action" *ngFor="let status of status; let first = first">
            <img src="assets/images/{{status}}Icon.svg" alt="">
            <h2>{{first ? 'To Do' : status}}</h2>
        </div>
        <div 
            *ngIf="!showQuote"
            class="action info"
        >
            <img 
                src="assets/images/ShowQuoteIcon.svg" 
                alt="" 
                height="20" 
                style="cursor: pointer;" 
                (click)="showQuote = true"
            >
        </div>
    </div>
    
    <div *ngIf="tasksCount === 0" class="feedback">
        Your list is empty! Try adding new Tasks and make sure the server is running.
    </div>
    <div class="grid" cdkDropListGroup>
        <div *ngFor="let status of status; let i = index">
            <div 
                class="list"
                [id]="i.toString()"
                cdkDropList 
                cdkDropListSortingDisabled
                (cdkDropListDropped)="drop($event, i)"
                [cdkDropListData]="sets[i]"
            >
                <app-card 
                    *ngIf="fill && i === 0" 
                    [add]="true" 
                    (onFocus)="fill = false"
                    (onItemChanged)="addTask($event)" 
                    [editMode]="fill"
                >
                </app-card>
                <ng-container *ngFor="let task of sets[i]">
                    <app-card 
                        *ngIf="focusedItemId === task.id"
                        cdkDrag
                        (onItemChanged)="editTask($event, task.status)" 
                        [keyword]="searchKey"
                        (onFocus)="focusedItemId = $event"
                        [editMode]="true"
                        [task]="task" 
                    ></app-card>
                    <app-card 
                        *ngIf="focusedItemId !== task.id"
                        cdkDrag
                        (onItemChanged)="editTask($event, task.status)" 
                        [keyword]="searchKey"
                        (onFocus)="focusedItemId = $event"
                        [task]="task" 
                    ></app-card>
                </ng-container>
            </div>
        </div>
    </div>
</div>
