
.sidebar {
  border-left: 1px solid #00000029;
  background-color: white;
  padding: 15px 25px;
  z-index: 50;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  position: absolute;
  position: fixed;
  width: 20vw;
  max-width: 20vw;
  min-width: 18rem;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
}
  
form {
  margin-top: 40px;

  label {
    margin-top: 25px;
  }
}

form > * {
  display: block;
} 

select {
  display: inline-block;
  width: max-content;
  height: 35px;
}
 
button {
  width: 5rem;
  border-radius: 6px;
  color: white;
  padding: 10px;
  height: auto;
  background-color: #8556A4;
  float: right;
}

.close {
  float: right;
  cursor: pointer;
  padding: 0px 5px;
  border-radius: 50%;

  &:hover {
    border: 1px solid #8556A4;
  }
}