<div 
    @sidebar
    #sidebarRef
    *ngIf="visible"
    class="sidebar"
  >
    <div class="sidebar-content">
        <span class="primary close" (click)="close()">
            &#10006;
        </span>
        <h2 class="primary">Add a Task</h2>
        <form [formGroup]="addForm" (ngSubmit)="addTask()">

            <app-input 
                label="title" 
                formControlName="title"
            ></app-input>

            <app-input 
                label="category" 
                formControlName="category"
            ></app-input>

            <app-input 
                type="date" 
                label="Due Date"
                [minDate]="minDate" 
                [required]="false"
                formControlName="dueDate"
            ></app-input>

            <label for="estimate">Estimate <span class="error">*</span></label>
            <div>
                <app-input 
                    type="number" 
                    [min]="1" 
                    formControlName="estimatedTime">
                </app-input>
                <select 
                    class="input" 
                    formControlName="estimationUnit"
                >
                    <option 
                        *ngFor="let unit of unitKeys(); let i = index;" 
                        [value]="+i"
                    >
                        {{ unit | titlecase }}
                    </option>
                </select>
            </div>

            <label for="importance">Importance <span class="error">*</span></label>
            <select 
                id="importance" 
                formControlName="importance" 
                class="input"
            >
                <option 
                    *ngFor="let option of importanceKeys(); let i = index" 
                    [value]="i"
                >
                    {{ option | titlecase }}
                </option>
            </select>
            <button type="submit">Save</button>
        </form>
    </div>
</div>